
linux-5.10.153
*.o
*.o.d
*.old
*.cmd
*.tmp
*.mod
*.mod.c
modules.order
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/arch/arm64/include/generated/*
built-in.a
*.a
*.d
*.map
*.ko

linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/.tmp_vmlinux.kallsyms2.S
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/.tmp_vmlinux.kallsyms2
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/.tmp_vmlinux.kallsyms1.S
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/.tmp_vmlinux.kallsyms1
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/.tmp_vmlinux.btf
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/vmlinux.symvers
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/vmlinux
linux-5.10.153+gitAUTOINC+3eee621d16-g3eee621d16/kernel/kheaders_data.tar.xz
